[submodule "modules/waf"]
	path = modules/waf
	url = https://github.com/ArduPilot/waf.git
	ignore = all
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = https://github.com/google/benchmark.git
	ignore = all
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = https://github.com/ArduPilot/mavlink
	ignore = all
[submodule "gtest"]
	path = modules/gtest
	url = https://github.com/ArduPilot/googletest
	ignore = all
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = https://github.com/ArduPilot/ChibiOS.git
	ignore = all
[submodule "modules/gsoap"]
	path = modules/gsoap
	url = https://github.com/ArduPilot/gsoap
	ignore = all
[submodule "modules/DroneCAN/DSDL"]
	path = modules/DroneCAN/DSDL
	url = https://github.com/DroneCAN/DSDL.git
	ignore = all
[submodule "modules/CrashDebug"]
	path = modules/CrashDebug
	url = https://github.com/ardupilot/CrashDebug
	ignore = all
[submodule "modules/DroneCAN/pydronecan"]
	path = modules/DroneCAN/pydronecan
	url = https://github.com/DroneCAN/pydronecan
	ignore = all
[submodule "modules/DroneCAN/dronecan_dsdlc"]
	path = modules/DroneCAN/dronecan_dsdlc
	url = https://github.com/DroneCAN/dronecan_dsdlc
	ignore = all
[submodule "modules/DroneCAN/libcanard"]
	path = modules/DroneCAN/libcanard
	url = https://github.com/DroneCAN/libcanard
	ignore = all
[submodule "modules/Micro-XRCE-DDS-Client"]
	path = modules/Micro-XRCE-DDS-Client
	url = https://github.com/ardupilot/Micro-XRCE-DDS-Client.git
	branch = master
	ignore = all
[submodule "modules/Micro-CDR"]
	path = modules/Micro-CDR
	url = https://github.com/ardupilot/Micro-CDR.git
	branch = master
	ignore = all
[submodule "modules/lwip"]
	path = modules/lwip
	url = https://github.com/ArduPilot/lwip.git
	ignore = all
[submodule "modules/littlefs"]
	path = modules/littlefs
	url = https://github.com/ArduPilot/littlefs.git
	ignore = all
